* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ddd;
}

/* Header section */

.header-container {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #fff;
    transition: transform 0.3s ease;
}

.header-container.hide {
    transform: translateY(-100%);
}

/* Topbar meny (black) */
.blacktop {
    background-color: #000;
    color: white;
    padding: 0.5rem 0.7rem;
    text-align: center;
    height: 3rem;
    margin-bottom: 0.1rem;
}

.blacktop-phone_number span {
    margin: 0 0.5rem;
}

.blacktop-navigation {
    display: none;
}

.b-nav__item {
    list-style-type: none;
}

.b-nav__link {
    text-decoration: none;
    color: white;
}

/* Help dropdown */

.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-items {
    display: flex;
}

.dropdown-items {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    min-width: 180px;
    padding: 10px 0;
    display: none;
    flex-direction: column;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    z-index: 1000;
}

.dropdown-item {
    padding: 10px 16px;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: #f2f2f2;
    color: #17B3B3;
}

.dropdown-item.active {
    background-color: #f2f2f2;
    color: #17B3B3;
    font-weight: 600;
}

/* Brand navigation */
.container-brand {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "brand icons"
        "search search";
    gap: 1rem;
    padding: 1rem;
    background: #fff;
    margin-top: 0.1rem;
}

.brand-link {
    grid-area: brand;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #000;
}

.icon-brand {
    grid-area: icons;
    display: flex;
    gap: 1.5rem;
}

.search-wrapper {
    grid-area: search;
}
.search-container {
    position: relative;
    width: 100%;
    max-width: 100%;
}
.search-box {
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    border: 2px solid #3aa655;
}
.search-box input {
    flex: 1;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 16px;
}
.search-btn {
    background: #128c44;
    color: #fff;
    border: none;
    padding: 0 25px;
    cursor: pointer;
}
#clearBtn {
    cursor: pointer;
    padding: 0 10px;
    font-size: 22px;
    display: none;
}
.search-dropdown {
    position: absolute;
    top: 60px;
    width: 100%;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
    display: none;
    padding: 20px;
    z-index: 999;
}
.dropdown-title {
    font-weight: bold;
    margin-bottom: 10px;
}
.search-categories ul li {
    padding: 8px 0;
    cursor: pointer;
}
.search-products .product-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
    border-top: 1px solid #eee;
}

.product-item img {
    width: 60px;
}

.icon-brand a>i {
    color: #000;
}

.search__text-btn {
    display: none;
}

.icon-brand {
    display: flex;
    gap: 2rem;
    font-size: 1.6rem;
    margin-top: 1.6rem;
}

.navbar {
    text-align: center;
    margin-left: 100px;
}

/* navbar desktop  */

.nav {
    display: none;
    background-color: #fff;
    padding: 0.7rem;
    margin-top: 0.2rem !important;
    padding: 0.5rem 3rem;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 0;
}

.nav-item {
    list-style: none;
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: black;
    padding-bottom: 4px;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link.active {
    color: #0d47ff ;
    font-weight: 600;
}

.nav-link.active::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 60%;
    height: 2px;
    background: #0d47ff;
    transform: translateX(-50%);
    border-radius: 2px;
}


.nav-icon {
    position: relative;
    color: red !important;
    font-size: px;
    margin-left: 15px;  
    text-decoration: none;

    transition: all 0.25s ease-in-out;
}

.nav-icon:hover {
    transform: scale(1.15);
    color: red;
}



/* Categoria Card section */

.categoria {
    display: grid;
    gap: 2rem;
    padding: 3rem 6rem;
    background-color: #ddd;
    text-align: center;
}

.categoria {
    grid-template-columns: 1fr;
}

.card {
    background: #fff;
    border-radius: 16px;
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 280px;
    transition: all 0.5s ease-in;

}

.card:hover {
    transform: translateY(-5px);
}

.card .description {
    font-size: 1.5rem;
}

/* Offers section */

.maincards {
    text-align: center;
    background-color: #ddd;
    padding: 4rem 1.5rem;
}

.main-card {
    position: relative;
    width: 300px;
    background-color: #0f6b2f;
    border-radius: 14px;
    margin-bottom: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    transition: all 0.4s ease-in-out;
}

.main-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.2);
}

.save-cost {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: #ff1e1e;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 0.4rem 0.7rem;
    border-radius: 999px;
}

.product-card {
    display: none;
    gap: 30px;
    padding: 30px;
    border: 1px solid #ddd;
    margin: 40px auto;
    max-width: 900px;
}


.heart-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 22px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.heart-icon.active {
    color: red;
}

.favorite {
    outline: 2px solid red; 
}

.maincard_image {
    width: 100%;
    background-color: #fff;
    padding: 1.5rem;
    object-fit: contain;
}

.section-text {
    text-align: center;
    margin-bottom: 3rem;
}

.product-name {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

.product-description {
    font-size: 0.85rem;
    color: #e5f3ea;
    text-align: center;
    padding: 0 1.2rem;
    margin: 0.5rem 0 0.8rem;
}

.product-cost {
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
}

.old-cost {
    text-decoration: line-through;
    color: #b5e0c5;
    margin-right: 0.4rem;
    font-weight: 400;
}

.card-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0 1rem 1.2rem;
}

.card-buttons button {
    position: relative;
    overflow: hidden;
}


.card-buttons button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent,
            rgba(255, 255, 255, 0.6),
            transparent);
    transition: left 0.6s ease;
}

.card-buttons button:hover::before {
    left: 100%;
}

.more-btn {
    flex: 1;
    background-color: #0b2c1f;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 0;
    cursor: pointer;
    font-size: 0.85rem;
}

.add-btn {
    flex: 2;
    background-color: #0047ff;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 0;
    cursor: pointer;
    font-size: 0.85rem;
}

.cards-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    justify-items: center;
}

/* Bestsellers section*/

.best-seller-badge {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: #ffb703;
    color: #000;
    font-size: 0.7rem;
    font-weight: 700;
    padding: 0.35rem 0.6rem;
    border-radius: 999px;
    display: flex;
    align-items: center;
    gap: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* FAQs section */

.faq {
    max-width: 420px;
    margin: 2rem auto;
    border: 1px solid #999;
    background: #eee;
}

.faq-title {
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid #999;
    font-size: 1.2rem;
}

.faq-item {
    border-bottom: 1px solid #999;
}

.faq-question {
    width: 100%;
    background: #eee;
    border: none;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.95rem;
    cursor: pointer;
    text-align: left;
}

.faq-question:hover {
    background: #e0e0e0;
}

.arrow {
    transition: transform 0.3s ease;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    background: #f5f5f5;
    transition: max-height 0.3s ease;
}

.faq-answer p {
    padding: 1rem;
    font-size: 0.85rem;
}

.faq-item.active .faq-answer {
    max-height: 200px;
}

.faq-item.active .arrow {
    transform: rotate(180deg);
}

/* Footer section */
.homefooter {
    background-color: #ddd;
    color: #000;
    font-size: 0.9rem;
}

/* L/M section */

.loyalty {
    background: linear-gradient(180deg,
            #0a8f08 0%,
            #0b7a2e 30%,
            #075a7a 65%,
            #0b2cff 100%);

    border-radius: 14px;
    padding: 2.5rem 1.5rem;
    color: #fff;
}

.loyalty-text {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.loyalty-title {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
}

.loyalty-description {
    font-size: 0.9rem;
    opacity: 0.9;
    margin-bottom: 2rem;
}

.loyalty-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
    justify-items: center;
}

.loyalty-item {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    width: 45%;
}

.loyalty-value {
    font-size: 1.2rem;
    font-weight: 700;
}

.loyalty-text {
    font-size: 0.8rem;
    opacity: 0.9;
}

.loyalty-btn {
    position: relative;
    border: none;
    width: 65%;
    border-radius: 10px;
    padding: 0.7rem 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    background-image: linear-gradient(90deg,
            #0a8f08 0%,
            #0b7a2e 30%,
            #075a7a 65%,
            #0b2cff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.loyalty-btn::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #fff;
    border-radius: inherit;
    z-index: -1;
}

/* Top Footer */
.footer-top {
    padding: 3rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
}

.subscribe-btn {
    background: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.6rem 2rem;
    font-weight: 600;
    cursor: pointer;
}

.footer-email {
    display: none;
    align-items: center;
    gap: 0.5rem;
}

.footer-email input {
    padding: 0.5rem 0.8rem;
    border-radius: 6px;
    border: none;
}

.send-btn {
    background: #00c853;
    border: none;
    color: #fff;
    padding: 0.5rem 0.7rem;
    border-radius: 6px;
    cursor: pointer;

}

.footer-top button {
    position: relative;
    overflow: hidden;
}


.footer-top button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent,
            rgba(255, 255, 255, 0.6),
            transparent);
    transition: left 0.6s ease;
}

.footer-top button:hover::before {
    left: 100%;
}


.footer-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}

.footer-logo {
    width: 40px;
}

.footer-socials {
    display: flex;
    gap: 0.8rem;
    font-size: 1rem;
}

.footer-socials i {
    transition: all 0.4s ease;
    color: #000;
}

.footer-socials i:hover {
    color: #16C216;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.footer-menu h4 {
    font-weight: 700;
}

.footer-menu a {
    text-decoration: none;
    color: #000;
    transition: all 0.5s ease;
}

.footer-menu__link:hover {
    color: #03fe03;
}

.footer-contact p {
    margin-bottom: 0.6rem;
}

/* Bottom footer */

.footer-bottom {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 0.5rem;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.4s ease-in;
}

.footer-links a:hover {
    text-decoration: underline;
    font-weight: 600;
}

.copyright {
    font-size: 0.75rem;
}

/* Responsive styles */

/* Tablet */

@media (min-width: 768px) {
    /* Header section */

    .blacktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 5rem;
        margin-bottom: 0.1rem;
    }

    .blacktop-navigation {
        display: block;
    }

    .b-nav__items {
        display: flex;
        gap: 100px;
        margin: 0 5rem;
        align-items: center;
        justify-content: center;
    }

    .b-nav__item {
        transition: all 0.4s ease;
    }

    .b-nav__item:hover {
        font-weight: 600;
        cursor: pointer;
        text-decoration: underline;
    }

    .container-brand {
        display: flex;
        align-items: center;
        padding: 1rem 6rem;
        margin-top: 0.1rem;
    }

    .brand {
        flex: 1;
    }

    .search-wrapper {
        flex: 2;
        display: flex;
        justify-content: center;
    }

    .search-bar {
        max-width: 520px;
        width: 100%;
    }

    .icon-brand {
        flex: 1;
        justify-content: flex-end;
    }

    .search__text-btn {
        display: inline;
        margin: 0 0.5rem;
    }

    .icon-brand {
        margin-top: 0;
    }

    /* Navbar */
    .navbar {
        display: none;
    }

    .nav {
        display: block;
    }

    .blacktop {
        height: 3rem;
    }

    /* Categoria Card Section */

    .categoria {
        grid-template-columns: repeat(3, 1fr);
        padding: 3rem 4rem;
    }

    .card:hover {
        transform: translateY(-10px) !important;
    }

    /* Offers section */

    .maincards {
        padding: 5rem .5rem;
    }

    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* FAQs section */

    .faq {
        max-width: 700px;
        margin: 3rem auto;
    }

    .faq-title {
        font-size: 1.5rem;
    }

    .faq-question {
        font-size: 1rem;
        padding: 1.2rem 1.5rem;
    }

    .faq-answer p {
        font-size: 0.95rem;
        padding: 1.2rem 1.5rem;
    }

    /* Footer section */

    .loyalty-item {
        width: 55%;
    }

    .loyalty-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-top {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "subs subs subs"
            "brand menu contact";
        align-items: start;
    }

    .subs {
        display: flex;
        gap: 1rem;
        align-items: center;
        width: 50vw;
        grid-area: subs;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer-email {
        display: flex;
    }

    .footer-brand {
        align-items: flex-start;
        grid-area: brand;
    }

    .footer-socials a {
        color: #000;
        width: 15px;
        height: 15px;
    }

    .footer-menu {
        grid-area: menu;
    }

    .footer-contact {
        grid-area: contact;
    }


    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 3rem;
    }

    .footer-links {
        margin-bottom: 0;
    }
}

/* Desktop */

@media (min-width: 1200px) {

    .blacktop {
        height: 2.5rem;
    }

    .b-nav__items {
        gap: 250px;
    }

    .container-brand {
        padding: 2rem 6rem;
    }

    /* Search bar */

    .search-bar {
        max-width: 520px;
    }

    .search-bar input {
        font-size: 15px;
    }

    .search-bar button i {
        font-size: 15px;
    }

    /* Cetegoria card section */

    .categoria {
        grid-template-columns: repeat(5, 1fr);
        padding: 4rem 6rem;
    }

    .card:hover {
        transform: translateY(-15px) !important;
    }

    /* Offers section */
    .cards-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    /* FAQs section */

    .faq {
        max-width: 900px;
        margin: 4rem auto;
    }

    .faq-title {
        font-size: 1.8rem;
    }

    .faq-question {
        font-size: 1.05rem;
        padding: 1.4rem 2rem;
    }

    .faq-answer p {
        font-size: 1rem;
        padding: 1.4rem 2rem;
    }

    /* Footer section */

    .loyalty-item {
        width: 70%;
    }

    .loyalty-cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* PC manitors */

@media (min-width: 1500px) {
    /* Offers section */

    .cards-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    /* FAQs section */

    .faq {
        max-width: 1200px;
        margin: 6rem auto;
    }

    .faq-title {
        font-size: 2.2rem;
    }

    .faq-question {
        font-size: 1.3rem;
        padding: 1.8rem 2.3rem;
    }

    .faq-answer p {
        font-size: 1.4rem;
        padding: 1.8rem 2.4rem;
    }
}

/* Large Manitors */

@media (min-width: 2000px) {
    /* Offers section */

    .cards-grid {
        grid-template-columns: repeat(6, 1fr);
    }
}